// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.team-players-all {
	padding: 10px 70px;
}


.single-pic {
	margin-top: 45px;
	text-align:center;
}

.single-pic button {
	background-color: #eee;
	width: 100%;
}