<!DOCTYPE html>
<html>
<head>
  <title>NbaHoopHelixPlayoffsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	

</head>
<body>
<!-- Animated preloader -->
<div id="loading">
    <img src="http://www.webdesign.org/img_articles/13053/loading-gif-animation.gif" alt="loading" width="100px" />
    <p>Player data may take several seconds to load. Thanks for your patience.</p>
</div>
<div class="container">

<%= yield %>


</div>
<!-- END Container -->

<div class="container">
<!-- FOOTER -->
<div class="footer">
	<h2>HOOP HELIX</h2>
	<p>Designed and developed by Chicago Public Skills | BlackMambaMyth.com | blackmambamyth@gmail.com</p> 
<p>Statistics, player photos, and team logos are from NBA.com</p>
</div>
<!-- END footer -->
</div>

<!-- JS for animated preloader -->
<script>
function hideLoading() {
    // other code can be placed here 
    $("#loading").hide();
    // other code can be placed here
}

function showLoading() {
    // other code can be placed here 
    $("#loading").show();
    // other code can be placed here
}

function dosomething() {
    showLoading();
    // simulate a task that can take 3 seconds
    // afterwards show hide the loading GIF
    setTimeout("hideLoading()", 10000);
    return false;
}
</script>
</body>
</html>
