<!DOCTYPE html>
<html>
<head>
  <title>Hoop Helix</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Dosis:600|Glegoo:700|Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
<!-- Animated preloader -->
<div id="loading">
    <img src="http://www.webdesign.org/img_articles/13053/loading-gif-animation.gif" alt="loading" />
</div>
 <div id="message">   
   <h1 class="alert alert-info">Player data may take several seconds to load.<br/>Thanks for your patience.</h1>
</div>

<div class="container">

<%= yield %>


</div>
<!-- END Container -->

<div class="container">
<!-- FOOTER -->
<div class="f-top">
	
    
</div>
<div class="footer">
	<div class="col-md-8">
	  <h1>HOOP HELIX <small>A Team Oriented Take on NBA Basketball</small></h1>
	  <p>Designed and developed by <a href="http://raquelcps.com" target="_blank">Chicago Public Skills</a></p>
      <p>Statistics, player photos, and team logos are from <a href="http://nba.com" target="_blank">NBA.com</a></p>
	</div>
	<div class="col-md-4 footer-right" >
	  <p>Visit my other site: <a href="http://blackmambamyth.com" target="_blank">BlackMambaMyth.com</a></p>
	  <a href="https://twitter.com/BlackMambaMyth" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @BlackMambaMyth</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</div>
</div>
<!-- END footer -->
</div>


<!-- JS for animated preloader -->
<script>
function hideLoading() {
    // other code can be placed here 
    $("#loading").hide();
    $("#message").hide();
    // other code can be placed here
}

function showLoading() {
    // other code can be placed here 
    $("#loading").show();
    $("#message").show();
    // other code can be placed here
}

function dosomething() {
    showLoading();
    // simulate a task that can take 3 seconds
    // afterwards show hide the loading GIF
    setTimeout("hideLoading()", 20000);
    return false;
}
</script>
</body>
</html>
