 <% if current_page?(controller: 'finals', action: 'show') %>
 <!-- TOUCHES -->
	  <div class="row">
    	<div class="col-md-5 stat-name">
	        <h3>Touches</h3>
    	</div>
	  	<div class="col-md-6 overview-bars">
	      <div class="progress">
	          <div class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: <%= @finals_player_touches_array.inject(:+).to_f / @finals_team_touches_array.inject(:+).to_f * 100 %>%;">      
                    <%= (@finals_player_touches_array.inject(:+).to_f / @finals_team_touches_array.inject(:+).to_f * 100).to_i %>%
              </div>
          </div>
          <div class="row">
		    <div class="col-xs-6 player-data">
		      <p><%= @finals_player_touches_array.inject(:+) %> Touches</p>
		    </div>
		    <div class="col-xs-6 team-data" style="text-align:right">
		      <p><%= @finals_team_touches_array.inject(:+) %> Touches</p>
		    </div>
		  </div>
	    </div><!-- END overview-bars -->   	
	  </div><!-- END TOUCHES -->

<% else %>
<p> Still working on parsing touches data for Round 1 and Semifinals </p>
<% end %> 


